*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  color: $white;
  line-height: 1.2;
  overflow-x: hidden;
  text-align: center;
}

h1, h2, h3 {
  font-family: $ffb;
}

h1 {
  font-size: 4rem;
  letter-spacing: .8rem;

  @include mq-d {
    font-size: 3rem;
  }

  @include mq-m {
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }
}

h2 {
  font-size: 3rem;
  letter-spacing: .4rem;

  @include mq-m {
    font-size: 1.3rem;
  }

  @include mq-d {
    font-size: 2rem;
    letter-spacing: .2rem
  }
}

h3 {
  font-size: 2rem;
  letter-spacing: .2rem;

  @include mq-d {
    font-size: 1.5rem;
  }

  @include mq-m {
    font-size: 1.3rem;
  }
}

h4 {
  font-family: $ffs;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .1rem;
  text-align: left;
  margin-top: 1em;
  margin-bottom: .3em;

  @include mq-m {
    font-size: 1.1rem;
  }
}

p, li {
  font-family: 'Raleway';
  font-size: .9rem;
  text-align: left;
  line-height: 1.4rem;

  @include mq-m {
    font-size: .7rem;
    line-height: 1rem;
  }

  @include mq-d {
    font-size: .8rem;
    line-height: 1.3rem;
  }

  @include mq-w {
    font-size: 1rem;
  }
}

li {
  list-style-position: inside;
}

a {
  text-decoration: none;
  font-family: $ffs;
  color: $white;

  @include mq-w {
    font-size: 1.3rem;
  }
}

button {
  outline: none;
}
