.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../img/hero.jpg");
  background-size: cover;
  height: 100vh;
}

.logo {
  width: 4em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  padding-left: 2.5em;
}

.title {
  line-height: 58vh;
}
