.modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  box-shadow: 0 0 0 2em rgba(black, .5);
  background-size: cover;
  display: none;
  overflow-x: hidden;
  scrollbar-width: thin;

  @include mq-m {
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
  }

  &.is-open {
    display: block;
  }
}

.modal1 {
  background-image: linear-gradient(rgba($accent1, 0.9)), url("../img/black.jpg");
}

.modal2 {
  background-image: linear-gradient(rgba($accent2, 0.9)), url("../img/black.jpg");
}

.modal-close {
  background: transparent;
  position: absolute;
  right: 2em;
  top: 2em;
  border: 0;
  z-index: 15;
  cursor: pointer;

  @include mq-m {
    top: 1em;
    right: 1em;
  }

  img {
    width: 1.5em;

    @include mq-m {
      width: 1em;
    }
  }
}

.modal-content {
  margin: 0 auto;
  width: 85%;
  padding-bottom: 2em;
}

.modal-title {
  text-align: left;
  padding: 1.5em 1em 0 2em;

  @include mq-m {
    text-align: center;
    margin: 0 auto;
    max-width: 13em;
    padding: 2em 0 1em;
  }
}

// vertical architecture modal

.modal--vertical-architecture {
  .modal-content {
    display: grid;
    grid-template-columns: [left] 1fr [center] 1fr [right];
    place-items: center;

    @include mq-s {
      display: block;
    }
  }

  .text-content {
    padding-bottom: 2em;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .column--img {
    @include mq-s {
      display: none;
    }
  }

  .polygons1 {
    width: 60%;
    align-self: center;
    transform: translateY(-2em);
  }

  .polygons2 {
    align-self: center;
    transform: translateY(1em);
    width: 80%;
  }
}

// green architecture modal

.modal--green-architecture {
  .text-content {
    display: flex;
    justify-content: space-between;

    @include mq-d {
      padding-top: 1em;
    }

    @include mq-m {
      padding: 0;
      flex-direction: column;
    }
  }

  .text-box {
    width: 40%;
    padding-right: 1em;

    @include mq-s {
      width: 100%;
    }
  }

  .text-box2 {
    width: 55%;

    @include mq-s {
      width: 100%;
    }
  }

  .img {
    position: absolute;
    left: 0em;
    bottom: 0em;
    width: 97vw;

    @include mq-xm {
      display: none;
    }
  }
}

// green transportation modal

.modal--green-transportation {
  .text-content {
    display: flex;
    padding-bottom: 2em;
    justify-content: space-between;

    @include mq-d {
      flex-direction: column;
    }
  }

  .img-box {
    @include mq-d {
      display: none;
    }
  }

  .img1 {
    position: absolute;
    bottom: 3em;
    left: 20%;
    max-height: 20em;

    @include mq-d(75rem) {
      max-height: 15em;
    }
  }

  .img2 {
    position: absolute;
    bottom: 3em;
    right: 10%;
    max-height: 30%;

    @include mq-d(75rem) {
      max-height: 20%;
    }
  }

  .text-box {
    width: 48%;

    @include mq-d {
      width: 100%;
    }
  }
}

// public transportation modal

.modal--public-transportation {
  overflow-y: scroll;

  .text-content {
    display: flex;
    justify-content: space-around;

    @include mq-s {
      flex-direction: column;
    }
  }

  .column {
    width: 45%;

    @include mq-s {
      width: 100%;
    }
  }

  .hyperloop {
    width: 100%;
  }

  span {
    text-decoration: underline;
  }

  .img1 {
    width: 40%;
    position: absolute;
    left: 8em;
    z-index: 11;

    @include mq-m {
      display: none;
    }
  }

  .img2 {
    width: 55%;
    position: absolute;
    right: 0;

    @include mq-m {
      display: none;
    }
  }
}

// green infrastructure modal

.modal--green-infrastructure {

  .modal-content {
    display: flex;
    padding-bottom: 2em;
  }

  .text-content {
    width: 63%;

    @include mq-s {
      width: 100%;
    }
  }

  .cycle-paths {
    position: absolute;
    top: 3em;
    right: 5em;
    width: 28%;

    @include mq-s {
      display: none;
    }
  }

  .smart-roads {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30%;

    @include mq-s {
      display: none;
    }
  }
}

// sustainable aviation modal

.modal--sustainable-aviation {
  .modal-content {
    padding-top: 2em;
    display: flex;

    @include mq-m {
      padding: 0;
    }
  }

  .airport {
    border-radius: 20px;
    max-width: 30em;

    @include mq-w {
      width: 100%;
    }
  }

  .column {
    width: 100%;
    max-width: 30em;

    @include mq-m {
      width: 100%;
    }
  }

  .img-box {
    display: flex;
    align-items: center;
    padding-left: 6em;

    @include mq-d {
      display: none;
    }
  }
}

// orbital rings modal

.modal--orbital-rings {
  .modal-content {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
  }

  .column {
    padding-right: 3em;
    max-width: 50em;

    @include mq-m {
      padding: 0;
    }
  }

  .orbital-rings {
    max-height: 75vh;
    border-radius: 30px;

    @include mq-m {
      display: none;
    }
  }
}

// renewable resources

.modal--renewable-resources {
  .text-content {
    display: flex;
    justify-content: space-between;

    @include mq-m {
      flex-direction: column;
    }
  }

  .column {
    width: 45%;

    @include mq-m {
      width: 100%;
    }
  }

  span {
    text-decoration: underline;
  }

  .city {
    position: absolute;
    width: 85%;
    bottom: 0;
    left: 7%;

    @include mq-m {
      display: none;
    }
  }
}

// alternative energy

.modal--alternative-energy {
  .modal-content {
    display: flex;
    justify-content: left;

    @include mq-s {
      flex-direction: column;
    }
  }

  .column {
    width: 125%;

    @include mq-s {
      width: 100%;
    }
  }

  .column2 {
    width: 95%;
    padding-left: 2em;

    @include mq-s {
      padding: 0;
    }

  }

  .img {
    position: absolute;

    @include mq-s {
      display: none;
    }
  }

  .algae {
    width: 8em;
    bottom: 0;
    right: 30%;

    @include mq-w {
      right: 40%;
      width: 12em;
    }
  }

  .city-corner {
    bottom: 0;
    right: 0;
    width: 18em;

    @include mq-w {
      width: 35em;
    }
  }
}

// waste management

.modal--waste-management {
  .modal-content {
    display: flex;
    justify-content: space-between;

    @include mq-m {
      flex-direction: column;
    }
  }

  .column {
    width: 45%;

    @include mq-m {
      width: 100%;
    }
  }

  .img {
    position: absolute;
  }

  .plastic {
    padding-top: 2em;
    width: 70%;

    @include mq-m {
      display: none;
    }
  }

  .green-pile {
    bottom: 0;
    right: 0;
    width: 80%;

    @include mq-m {
      width: 100%;
    }

    @include mq-xm {
      display: none;
    }
  }
}

// waste to energy

.modal--waste-to-energy {
  .column {
    padding-top: 1em;
    width: 45%;

    @include mq-s {
      width: 100%;
    }
  }

  .city {
    position: absolute;
    width: 43%;
    right: 5em;
    bottom: 30%;

    @include mq-d {
      bottom: 5%;
    }

    @include mq-d {
      display: none;
    }
  }
}

@keyframes modalIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}

@keyframes modalOut {
  0% { opacity: 1;}
  100% {opacity: 0;}
}
