body {
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: start;
}

.section {
  height: 100vh;
  display: grid;
  grid-template-columns: [left] 1fr [center] 1fr [right];
  grid-template-rows: [top] 1fr [mid] 1fr [bottom];
  align-items: center;

  @include mq-m {
    display: flex;
    flex-direction: column;
  }
}

.section--three {
  grid-template-columns: [left] 1fr [center] 1fr [right];
  grid-template-rows: [top] 1fr [mid-1] 1fr [mid-2] 1fr [bottom];
}

.section-title {
  grid-row-start: top;
  grid-row-end: bottom;
  line-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("../img/section-bg.jpg");
  background-size: cover;

  @include mq-m {
    height: 33.3333%;
    line-height: 30vh;
    width: 100%;
  }
}

.section-title--right {
  grid-column-start: center;
  grid-column-end: right;
}

.subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @include mq-m {
    height: 33.3333%;
    width: 100%;
  }

  a {
    text-decoration: underline;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: .1rem;
    line-height: 2.5em;
  }
}

.subsection1 {
  background-image: linear-gradient(rgba($accent1, 0.8)), url("../img/polyb.jpg");
  background-size: cover;
}

.subsection2 {
  background-image: linear-gradient(rgba($accent2, 0.8)), url("../img/polyg.jpg");
  background-size: cover;
}
